"*":
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnSave: true
  "clang-format":
    formatCOnSave: true
    formatCPlusPlusOnSave: true
  core:
    customFileTypes:
      "source.js.jsx": [
        "js"
      ]
    disabledPackages: [
      "autocomplete-clang"
      "multi-cursor"
      "rust-format"
      "linter-rust"
      "linter"
    ]
    packagesWithKeymapsDisabled: [
      "cpp-generator"
      "rust-api-docs-helper"
    ]
    telemetryConsent: "no"
  "cpp-generator":
    metaAuthor: "Walker Crouse"
    metaDateFormat: "MM/DD/YYYY"
    useSelectedFilepath: true
  editor:
    preferredLineLength: 99
    tabLength: 4
  "exception-reporting":
    userId: "4a5db588-4cf3-4258-9c31-d898a8ff1add"
  fonts:
    fontFamily: "JetBrains Mono"
  "ide-rust":
    checkForToolchainUpdates: false
  "ide-typescript":
    typeScriptServer:
      path: "/usr/local/bin/tsserver"
  "keyboard-scroll":
    animate: false
  "linter-gcc": {}
  "linter-pycodestyle": {}
  "linter-rust":
    cargoCommand: "clippy"
    disableExecTimeout: true
  "linter-ui-default":
    panelHeight: 370
    showPanel: true
  "markdown-preview":
    useGitHubStyle: true
  minimap:
    smoothScrolling: false
  "rust-format":
    formatOnSave: true
    suppressErrors: true
  rustfmt: {}
  "tree-view": {}
  welcome:
    showOnStartup: false
".python.regexp.source":
  editor:
    preferredLineLength: 80
".python.source":
  editor:
    preferredLineLength: 80
".rust.source":
  editor:
    preferredLineLength: 99
".source.ts":
  editor:
    preferredLineLength: 99
