'atom-text-editor':
    'alt-up': 'editor:move-to-beginning-of-previous-paragraph'
    'alt-down': 'editor:move-to-beginning-of-next-paragraph'
    'ctrl-up': 'keyboard-scroll:scrollUpWithCursor'
    'ctrl-down': 'keyboard-scroll:scrollDownWithCursor'
    'ctrl-shift-j': 'pretty-json:prettify'
    'ctrl-i': 'rust-api-docs-helper:trigger'

'atom-workspace':
    'ctrl-shift-g': 'cpp-generator:generate-c++-files'
    'ctrl-k shift-right': 'paner:move-pane-item'

'.tree-view':
    'left': 'tree-view:recursive-collapse-directory'
    'alt-left': 'tree-view:collapse-directory'

'body':
    'ctrl-`': 'pane:show-previous-item'
    'ctrl-tab': 'pane:show-next-item'
